# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/

# Resharper
_ReSharper*/
*.DotSettings.user

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/
*.sln.iml

# SQLite
*.db
*.db-shm
*.db-wal

# User-specific files
*.local

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
